*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  width: 100%;
  height: 50px;
  background-color: #FF9A4B;
}
main{
  width: 960px;
  display: flex;
  justify-content: center;
  margin: 50px auto;
}
.common-box{
  width: 300px;
  margin-right: 30px;
  background-color: #EEEEEE;
}
.box-step{
  background-color: #FF9A4B;
  width: auto;
  height: auto;
  position: absolute;
  color: white;
}
.box1 .box-image{
  background-image: url(img/flow01.png);
  background-size: cover;
  height: 150px;
  width: 280px;
  background-position: center;
  margin: 10px;
}
.box2 .box-image{
  background-image: url(img/flow02.png);
  background-size: cover;
  height: 150px;
  width: 280px;
  background-position: center;
  margin: 10px;
}
.box3 .box-image{
  background-image: url(img/flow03.png);
  background-size: cover;
  height: 150px;
  width: 280px;
  background-position: center;
  margin: 10px;
}
.box-title{
  padding: 5px 0 5px 10px;
}
.box-text{
  padding: 0 10px 10px 10px;
}
footer{
  width: 100%;
  height: 50px;
  background-color: #AAAAAA;
}
@media screen and (max-width:768px){
  header{
    width: 100%;
  }
  main{
    width: 100%;
    display: block;
  }
  .common-box{
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
  }
  .box1 .box-image{
    width: 90%;
    margin: 3% auto;
  }
  .box2 .box-image{
    width: 90%;
    margin: 3% auto;
  }
  .box3 .box-image{
    width: 90%;
    margin: 3% auto;
  }
  .box-text{
    padding: 0 2% 2% 3%;
  }
  .box-title{
    padding: 2% 0 2% 3%;
  }
}